body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

#tableContainer {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th:first-child, td:first-child {
    width: 30px; /* Adjust the width as per your preference */
}

th {
    background-color: #f2f2f2;
}

td {
    background-color: #fff;
}

input.input-cell {
    width: 100%;
    text-align: center;
    border: none;
}
textarea:focus, input:focus{
    outline: none;
}
/* input[type="text"].error {
    border: 2px solid red;
} */

button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
.divfinish{
    display: flex;
    justify-content:space-between;
}
tfoot{
    font-weight: bold;
}
